body {
    margin: 0px;
    background: hsl(0, 100%, 74%) url(../images/bg-intro-desktop.png) no-repeat;
    display: flex;
    box-sizing: border-box;
    padding: 10%;
    height: 100vh;
    color: white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    justify-content: space-between;
    align-items: center;
}

p, h1, h2, h3, h4, h5, h6, ul, ol, li {
    margin: 0px;
}

section {
    display: flex;
    width: 50%;
}

.intro-area {
    background-color: transparent;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: left;
    padding: 0px 25px; }
    .title {
        font-size: 50px;
        margin-bottom: 30px;
        line-height: 50px;
    }

.signup-area {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .trial-ads {
        display: block;
        width: 100%;
        font-weight: 400;
        padding: 20px 10%;
        line-height: 25px;
        text-align: center;
        font-size: 16px;
        box-sizing: border-box;
        box-shadow: 0px 7px 5px hsla(0, 0%, 35%, 0.671);
        background-color: hsl(248, 32%, 49%);
        border-radius: 5px;
        margin-bottom: 20px; }
        .trial-ads-bold {
            font-weight: bold;
        }
    #signup-form {
        position: relative;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        box-shadow: 0px 7px 5px hsl(0, 0%, 35%);
        width: 100%;
        background-color: #ffffff;
        border-radius: 7px;
        padding: 30px; }
        .user-input {
            height: 50px;
            border-radius: 7px;
            border: 1px solid hsl(246, 25%, 77%);
            margin-bottom: 0px;
            padding-left: 25px;
            outline: none;
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            font-size: 14px;
        }
        .user-input:focus {
            font-weight: 700;
            border: 1px solid hsl(249, 10%, 26%);
        }
        .invalid-input {
            border: 2px solid hsl(0, 100%, 74%);
            font-weight: 700;
            color: hsl(0, 100%, 74%);
            background: url("../images/icon-error.svg") no-repeat 95%;
        }
        #claim-btn {
            height:  50px;
            border: none;
            background-color: hsl(154, 59%, 51%);
            border-radius: 7px;
            color: white;
            cursor: pointer;
            margin: 0px;
            text-transform: uppercase;
            font-weight: bold;
            box-shadow: 0px 7px 5px hsla(0, 0%, 35%, 0.671);
        }
        .terms {
            margin-top: 10px;
            text-align: center;
            font-size: 12px;
            color: hsl(246, 25%, 77%);
        }
        .terms-link {
            text-decoration: none;
            font-weight: bold;
            color: hsl(0, 100%, 74%) ;
        }
        .error {
            display: block;
            color: hsl(0, 100%, 74%);
            margin-top: 5px;
            margin-bottom: 20px;
            text-align: right;
            font-size: 12px;
        }

@media (max-width: 968px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 80px 20px;
        height: unset;
    }
    section {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        box-sizing: border-box;
        padding: 0px;
        margin-bottom: 60px;
        text-align: center;
        width: 100%;
    }
    .intro-area {
        text-align: center;
        padding: 0px 25px; 
    }
    .title {
        font-size: 33px;
        margin-bottom: 30px;
        line-height: 40px;
    }
    .trial-ads {
        padding: 10px 30%;
        line-height: 25px;
        text-align: center; }
    .sign-up-area {
        width: 100%;
    }
    #sign-up-form {
        position: relative;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        box-shadow: 0px 7px 5px hsla(0, 0%, 35%, 0.404);
        width: 100%;
        background-color: #ffffff;
        border-radius: 7px;
        padding: 20px;
    }
}